@media screen and (max-width: 950px) {
  #searchInput {
    display: none !important;
  }
  .person {
    display: flex;
    flex-direction: column;
  }
  .edit-data {
    font-size: 15px;
  }
  footer {
    font-size: 10px !important;
  }
}
